module.exports = {
    serverUrl: "http://localhost:8082",

    // Node name, must be unique across all nodes
    node: "node-2",

    // debug / production. In debug reboot & halt actions are disabled
    mode: "debug"
};
