module.exports = {
    serverUrl: "http://localhost:8082",

    // Node name, must be unique across all nodes
    node: "node-2",

    // In debug reboot/halt/sleep actions are disabled
    debugMode: false
};
